# Ignore Databases
*.db
*.db-shm
*.db-wal

# Ignore Backups
*_backup.json

# Ignore Logs
*.log
*.log.*
log

# Ignore files created by IDE's
.vscode
.Trash*

# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml

# SSH keys
ssh